------------------------------------------------------------------------------- Final: 39/45

[26/30] FEATURES MEET REQUIREMENTS AND WORK RELIABLY
- The shift schedule can't be edited through the website.
- The first time I do a search in the schedule, highlights appear but then immediately disappear.

[4/5] DESIGN IS COHERENT AND CONVENIENT
- Staff and mentor descriptions have some unpleasant line breaks and alignments.
- Mentors would be easier to find if they were listed in alphabetical order.
- It would be nice to display evaluations on the site (for staff at least).
- It would be nice if names in the schedule linked to mentor profiles.

[4/5] DATA IS ORGANIZED AND PROTECTED
- Editing a mentor can lead to discrepancies with the schedule page.
- Deleting a mentor leads to discrepancies with the schedule and evaluations pages.

[3/5] WORK WAS SHARED AND COMPLETED ON SCHEDULE
- The project missed some of the intermediate deadlines.

[+2] EXTRA FEATURES
- You implemented a few nifty features that weren't listed as requirements.
- We should ideally have discussed these as changes to your requirements.
- Still, it seems right to give you some credit for them.

------------------------------------------------------------------------------- Stage 3

Features due by 5/10:
 1) A logged-in admin can delete a mentor profile.
 2) Any user can post an evaluation on a mentor page (but perhaps it only appears after admin approval?).

------------------------------------------------------------------------------- Stage 2

Features due by 4/30:
 1) A logged-in user can create a mentor profile (perhaps after admin approval?).
 2) A logged-in mentor can edit the information in their profile.
 3) A logged-in admin (perhaps also mentors?) can edit the shift schedule.
 4) Any user can filter the shift schedule by course (e.g. see all shifts with CS-140 mentors).

Feedback:
- Completed 0/4 requirements but started the first two.
- Hard to give any useful feedback at this point since you don't have much done yet.
- Looks like we still have some difficulties with capitalization. (Create a new repository if you need to!)

------------------------------------------------------------------------------- Stage 1

Features due by 4/16:
 1) Home page that describes the QRC and shows the shift schedule.
 2) Staff page that lists all the mentors.
 3) Mentor page that describes a mentor in more detail than you see on the staff page.
 4) Ability to log in and log out.

Sample data you'll probably need to demonstrate these features:
- A mentors collection (with the current mentors).
- A shifts collection (with the current shifts).

Feedback:
- Completed 2/4 requirements (1,2) and started another (4).
- Doesn't look like you've started #3 yet, but I assume this is something you'll eventually want to have (let me know if not).
- The login might be working, but the link doesn't change to say "Log out" so it's hard to tell.
- I couldn't run the server until I lowercased Back, Front, and Back/Mentors.js.
- Eventually it would be good to reduce (and standardize) the photo sizes.
